{% extends "base.html" %}
{% block content %}

<style>
body
{
 font-family: 'Cormorant Garamond', serif;
}
.blog-page {
    max-width: 850px;
    margin: 0 auto;
    background: white;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.blog-page img {
    width: 100%;
    max-height: 380px;   /* height control */
    
    object-fit: contain; /* 🔥 FULL IMAGE SHOW (no crop) */
    
    border-radius: 16px;
    margin-bottom: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
   

    background: #f3f3f3; /* empty space stylish lage */
}
.blog-page h1 {
    font-size: 34px;
    margin-bottom: 10px;
}

.blog-meta {
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
}

.blog-content {
    line-height: 1.8;
    font-size: 17px;
    color: #333;
}

.back-btn {
    display: inline-block;
    margin-top: 0;

    font-size: 18px;        /* 🔥 size bada */
    font-weight: 700;       /* 🔥 bold */

    color: var(--btn-gradient); /* ✅ space fix */
    text-decoration: none;

    cursor: pointer;
    transition: 0.3s ease;
}
</style>

<div class="blog-page">

    <h1>{{ blog.title }}</h1>

    <div class="blog-meta">
        {{ blog.author }} • {{ blog.created_at.strftime('%d %b %Y') }}
    </div>

    <img src="{{ blog.image }}">

    <div class="blog-content">
        {{ blog.content |safe }}
    </div>

    <div class="back-btn" onclick="window.location='/blogs'">
        ← Back to Blogs
    </div>

</div>

{% endblock %}